# Node
node_modules/
electron_app/node_modules/
package-lock.json

# Python
.venv/
python_backend/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary Audio Data & Output Cache (keep folder structure)
data/uploads/*
data/vocals/*
data/outputs/*
data/temp/*
!data/uploads/.gitkeep
!data/vocals/.gitkeep
!data/outputs/.gitkeep
!data/projects/.gitkeep
!data/temp/.gitkeep

# System & IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
config.json
